---
name: CI
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run format check
        run: bun --bun run format:check

      - name: Run type check
        run: bun --bun run tsc

      - name: Run lint
        run: bun --bun run lint

      # - name: Run stylelint check
      #   run: bun --bun run stylelint

      - name: Build project
        run: bun --bun run build:only
